<!DOCTYPE html>
<html>
  <head>
    {% include 'base/include.html' %}
    <title>My Website</title>
  </head>
  <body>
    {% include 'base/header.html' %}
    <main>
      <h1>대회 및 공모전 정보.</h1>

      <div class="card-container">
        {% for contest in contests %}
        <div class="card" onclick="openDomain('{{ contest[2] }}');">
            <div class="card-header">
              <h3 class="card-title">
                {% if contest[1]|length > 11 %}
                  {{ contest[1][:11] + '...' }}
                {% else %}
                  {{ contest[1] }}
                {% endif %}
              </h3>
            </div>
            <div class="card-body">
              <div class="card-image">
                <img class="card-image-img" src="{{ contest[6] }}" alt="Card Image" onerror="this.src='/static/img/unknown.png'">
              </div>
              <p class="card-text">
                {% if contest[3]|length > 55 %}
                  {{ contest[3][:55] + '...' }}
                {% else %}
                  {{ contest[3] }}
                {% endif %}
              </p>
              <div class="card-dates">
                <span class="date-value">{{ contest[4] }} ~ {{ contest[5] }}</span><br>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
