<!DOCTYPE html>
<html>
  <head>
    {% include 'base/include.html' %}
    <title>My Website</title>
  </head>
  <body>
    {% include 'base/header.html' %}
    <main>
      <h1>대회 및 공모전 정보.</h1>

      <table>
        <thead>
            <tr>
                <th>Index</th>
                <th>Title</th>
                <th>Domain</th>
                <th>Info</th>
                <th>Date First</th>
                <th>Date Last</th>
                <th>Image URL</th>
            </tr>
        </thead>
        <tbody>
            {% for contest in contests %}
                <tr>
                    <td>{{ contest[0] }}</td>
                    <td>{{ contest[1] }}</td>
                    <td>{{ contest[2] }}</td>
                    <td>{{ contest[3] }}</td>
                    <td>{{ contest[4] }}</td>
                    <td>{{ contest[5] }}</td>
                    <td>{{ contest[6] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

      {% include 'base/footer.html' %}
    </main>
  </body>
</html>
